html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}


html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 4px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .container {

    margin-top: 50px;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 30px;
}
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.matb-serif{font-family:serif}.matb-sans-serif{font-family:sans-serif}.matb-cursive{font-family:cursive}.matb-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.matb-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.matb-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.matb-table,.matb-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.matb-table-all{border:1px solid #ccc}
.matb-bordered tr,.matb-table-all tr{border-bottom:1px solid #ddd}.matb-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.matb-table-all tr:nth-child(odd){background-color:#fff}.matb-table-all tr:nth-child(even){background-color:#f1f1f1}
.matb-hoverable tbody tr:hover,.matb-ul.matb-hoverable li:hover{background-color:#ccc}.matb-centered tr th,.matb-centered tr td{text-align:center}
.matb-table td,.matb-table th,.matb-table-all td,.matb-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.matb-table th:first-child,.matb-table td:first-child,.matb-table-all th:first-child,.matb-table-all td:first-child{padding-left:16px}
.matb-btn,.matb-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.matb-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.matb-btn,.matb-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.matb-disabled,.matb-btn:disabled,.matb-button:disabled{cursor:not-allowed;opacity:0.3}.matb-disabled *,:disabled *{pointer-events:none}
.matb-btn.matb-disabled:hover,.matb-btn:disabled:hover{box-shadow:none}
.matb-badge,.matb-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.matb-badge{border-radius:50%}
.matb-ul{list-style-type:none;padding:0;margin:0}.matb-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.matb-ul li:last-child{border-bottom:none}
.matb-tooltip,.matb-display-container{position:relative}.matb-tooltip .matb-text{display:none}.matb-tooltip:hover .matb-text{display:inline-block}
.matb-ripple:active{opacity:0.5}.matb-ripple{transition:opacity 0s}
.matb-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.matb-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.matb-dropdown-click,.matb-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.matb-dropdown-hover:hover .matb-dropdown-content{display:block}
own-click:hover{background-color:grey;color:#000}
.matb-dropdown-hover:hover > .matb-button:first-child,.matb-dropdown-click:hover > .matb-button:first-child{background-color:#ccc;color:#000}
.matb-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.matb-check,.matb-radio{width:24px;height:24px;position:relative;top:6px}
.matb-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.matb-bar-block .matb-dropdown-hover,.matb-bar-block .matb-dropdown-click{width:100%}
.matb-bar-block .matb-dropdown-hover .matb-dropdown-content,.matb-bar-block .matb-dropdown-click .matb-dropdown-content{min-width:100%}
.matb-bar-block .matb-dropdown-hover .matb-button,.matb-bar-block .matb-dropdown-click .matb-button{width:100%;text-align:left;padding:8px 16px}
.matb-main,#main{transition:margin-left .4s}
.matb-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.matb-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.matb-bar{width:100%;overflow:hidden}.matb-center .matb-bar{display:inline-block;width:auto}
.matb-bar .matb-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.matb-bar .matb-dropdown-hover,.matb-bar .matb-dropdown-click{position:static;float:left}
.matb-bar .matb-button{white-space:normal}
display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.matb-bar-block.matb-center .matb-bar-item{text-align:center}.matb-block{display:block;width:100%}
.matb-responsive{display:block;overflow-x:auto}
.matb-container:after,.matb-container:before,.matb-panel:after,.matb-panel:before,.matb-row:after,.matb-row:before,.matb-row-padding:after,.matb-row-padding:before,
.matb-cell-row:before,.matb-cell-row:after,.matb-clear:after,.matb-clear:before,.matb-bar:before,.matb-bar:after{content:"";display:table;clear:both}
.matb-col,.matb-half,.matb-third,.matb-twothird,.matb-threequarter,.matb-quarter{float:left;width:100%}
.matb-col.s1{width:8.33333%}.matb-col.s2{width:16.66666%}.matb-col.s3{width:24.99999%}.matb-col.s4{width:33.33333%}
.matb-col.s5{width:41.66666%}.matb-col.s6{width:49.99999%}.matb-col.s7{width:58.33333%}.matb-col.s8{width:66.66666%}
.matb-col.s9{width:74.99999%}.matb-col.s10{width:83.33333%}.matb-col.s11{width:91.66666%}.matb-col.s12{width:99.99999%}
@media (min-width:601px){.matb-col.m1{width:8.33333%}.matb-col.m2{width:16.66666%}.matb-col.m3,.matb-quarter{width:24.99999%}.matb-col.m4,.matb-third{width:33.33333%}
.matb-col.m5{width:41.66666%}.matb-col.m6,.matb-half{width:49.99999%}.matb-col.m7{width:58.33333%}.matb-col.m8,.matb-twothird{width:66.66666%}
.matb-col.m9,.matb-threequarter{width:74.99999%}.matb-col.m10{width:83.33333%}.matb-col.m11{width:91.66666%}.matb-col.m12{width:99.99999%}}
@media (min-width:993px){.matb-col.l1{width:8.33333%}.matb-col.l2{width:16.66666%}.matb-col.l3{width:24.99999%}.matb-col.l4{width:33.33333%}
.matb-col.l5{width:41.66666%}.matb-col.l6{width:49.99999%}.matb-col.l7{width:58.33333%}.matb-col.l8{width:66.66666%}
.matb-col.l9{width:74.99999%}.matb-col.l10{width:83.33333%}.matb-col.l11{width:91.66666%}.matb-col.l12{width:99.99999%}}
.matb-rest{overflow:hidden}.matb-stretch{margin-left:-16px;margin-right:-16px}
margin-right:auto}.matb-content{max-width:980px}.matb-auto{max-width:1140px}
.matb-cell-row{display:table;width:100%}.matb-cell{display:table-cell}
.matb-cell-top{vertical-align:top}.matb-cell-middle{vertical-align:middle}.matb-cell-bottom{vertical-align:bottom}
.matb-hide{display:none!important}.matb-show-block,.matb-show{display:block!important}.matb-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.matb-auto{max-width:95%}}
@media (max-width:600px){.matb-modal-content{margin:0 10px;width:auto!important}.matb-modal{padding-top:30px}
.matb-dropdown-hover.matb-mobile .matb-dropdown-content,.matb-dropdown-click.matb-mobile .matb-dropdown-content{position:relative}	
.matb-hide-small{display:none!important}.matb-mobile{display:block;width:100%!important}.matb-bar-item.matb-mobile,.matb-dropdown-hover.matb-mobile,.matb-dropdown-click.matb-mobile{text-align:center}
.matb-dropdown-hover.matb-mobile,.matb-dropdown-hover.matb-mobile .matb-btn,.matb-dropdown-hover.matb-mobile .matb-button,.matb-dropdown-click.matb-mobile,.matb-dropdown-click.matb-mobile .matb-btn,.matb-dropdown-click.matb-mobile .matb-button{width:100%}}
@media (max-width:768px){.matb-modal-content{width:500px}.matb-modal{padding-top:50px}}
nt{width:900px}.matb-hide-large{display:none!important}.matb-sidebar.matb-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.matb-hide-medium{display:none!important}}
@media (max-width:992px){.matb-sidebar.matb-collapse{display:none}.matb-main{margin-left:0!important;margin-right:0!important}.matb-auto{max-width:100%}}
.matb-top,.matb-bottom{position:fixed;width:100%;z-index:1}.matb-top{top:0}.matb-bottom{bottom:0}
.matb-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.matb-display-topleft{position:absolute;left:0;top:0}.matb-display-topright{position:absolute;right:0;top:0}
.matb-display-bottomleft{position:absolute;left:0;bottom:0}.matb-display-bottomright{position:absolute;right:0;bottom:0}
.matb-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.matb-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.matb-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.matb-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.matb-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.matb-display-container:hover .matb-display-hover{display:block}.matb-display-container:hover span.matb-display-hover{display:inline-block}.matb-display-hover{display:none}
.matb-display-position{position:absolute}-round,.matb-round-medium{border-radius:4px}.matb-round-large{border-radius:8px}.matb-round-xlarge{border-radius:16px}.matb-round-xxlarge{border-radius:32px}
.matb-row-padding,.matb-row-padding>.matb-half,.matb-row-padding>.matb-third,.matb-row-padding>.matb-twothird,.matb-row-padding>.matb-threequarter,.matb-row-padding>.matb-quarter,.matb-row-padding>.matb-col{padding:0 8px}
.matb-container,.matb-panel{padding:0.01em 16px}.matb-panel{margin-top:16px;margin-bottom:16px}
.matb-code,.matb-codespan{font-family:Consolas,"courier new";font-size:16px}
.matb-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.matb-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.matb-card,.matb-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.matb-card-4,.matb-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.matb-spin{animation:matb-spin 2s infinite linear}@keyframes matb-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.matb-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.matb-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.matb-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.matb-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.matb-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.matb-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.matb-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.matb-animate-input{transition:width 0.4s ease-in-out}.matb-animate-input:focus{width:100%!important}
.matb-opacity,.matb-hover-opacity:hover{opacity:0.60}.matb-opacity-off,.matb-hover-opacity-off:hover{opacity:1}
.matb-opacity-max{opacity:0.25}.matb-opacity-min{opacity:0.75}